@media (max-width: 1400px) {
  .nav-btns {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .nav {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 5px;
  }
  .nav-top {
    gap: 50px;
  }
  .nav-btns {
    display: none;
    width: 90%;
  }
  .navigation {
    display: flex;
  }
}

@media (max-width: 800px) {
 .nav-btns {
  width: 100%;
 }
}

@media (max-width: 700px) {
  .nav-btns {
   flex-wrap: wrap;
   gap: 15px;
  }

  .footer {
    height: 25vh;
  }
  .footer-btns {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-btn {
    width: 240px;
  }
}
@media (max-width: 500px) {
.nav {
 height: auto;
 gap: 20px;
}
.nav-top {
 flex-direction: column;
 gap: 5px;
}
}

@media (max-width: 400px) {

}
