.DarkTheme {
 --body-bg-1: black;
 --body-bg-2: #1e1e1e;
 --main-bg: #000000c5;
 --main-txt-color: white;
 --main-btn-color: white;

 --svg-invert: 100%;
}

.LightTheme {
 --body-bg-1: white;
 --body-bg-2: #888888;
 --main-bg: #ffffffc5;
 --main-txt-color: black;
 --main-btn-color: black;

 --svg-invert: 0%;
}